# Backend specific .gitignore

node_modules/
dist/
*.tsbuildinfo

# Secrets & Config
.env
.env.local
.env.*.local
!.env.example

# Prisma Local / Dev DBs & Generated Client
prisma/migrations/dev.db*
*.db
*.sqlite
src/generated/

# Logs
*.log
